*{
    margin:0%;
    padding: 0%;
    font-family: sans-serif;
}
.top{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ddffbc;
    min-height: 3vh;
    overflow:initial;
}
#sticky{
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 0;
    background-color: #5f8559;
}
.logo{
    position: absolute;
    float: left;
    padding-left: 15px;
    z-index: 1;
}
.tabs{
    margin-top: 30px;
    margin-bottom: 25px;
    flex: 1;
    text-align: right;
    float:inline-end
}
.tabs ul li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    font-size: 15px;
}
.tabs ul li:hover{
    background-color: rgb(223, 139, 29);
    font-size: 120%;
    transition: 0.7s;
}

.main{
    width: 100%;
    background-image:url("bg.png");
    background-repeat: repeat;
}
.first{
    padding-top: 30px;
}
.content{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 475;
    left: 0;
    border-radius: 10%;
    transition: 1s;
}
.feature{
    position: absolute;
    font-size: 50px;
    color: rgb(236, 131, 70);
}
.feature div{
    margin-left: 30px;
    font-size: 15px;
}
.one{
    top: 480px;
    right: 53px;
}
.one h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.two{
    top: 55px;
    left: 360px;
    transform: rotate(-90deg);
}
.two h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.three{
    bottom: 480px;
    left: -200px;
    transform: rotate(-180deg);
}
.three h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.four{
    bottom: 50px;
    right: 355px;
    transform: rotate(-270deg);
}
.four h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.burger{
    width: 500px;
    position: absolute;
    top: 800;
    left: 25%;
    z-index: 1;
}
.controls{
    position: absolute;
    right: 2%;
    top: 750;
    transform: translateY(-50%);
    text-align: center;
}
#up{
    margin-top: 80px;
    width: 50px;
    cursor: pointer;
    transform: rotate(180deg);
}
#down{
    margin-top: 30px;
    width: 50px;
    cursor: pointer;
}
.overlay{
    margin-top: 40px;
    top: 275;
    width: 100;
    height: 100;
    border-top: 700px solid #ddffbc;
    border-right: 500px solid transparent;
    border-bottom: 700px solid #ddffbc;
    border-left: 500px solid #ddffbc;
    position: absolute;
    left: 0;
}
.blank{
    min-height: 248vh;
}
.quote1{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding-left: 150px;
    float: left;
    padding-right: 50px;
    position: absolute;
    flex: 1;
    background-color: #5f8559;
    padding-bottom: 20px;
}
.quote1 h1{
    font-size: 150px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quote1 h2{
    font-size: 60px;
    color: white;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quote2{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    float: right;
    margin-top: 220px;
}
.quote3{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    float: right;
    margin-top: 520px;
    margin-left: 500px;
}
.quote4{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding-bottom: 20px;
    padding-left: 150px;
    background-color: #5f8559;
    margin-top: 1150px;
    float: left;
    padding-right: 50px;
    position: absolute;
    flex: 1;
}
.quote4 h1{
    font-size: 150px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quote4 h2{
    font-size: 60px;
    color: white;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.divider{
    background-color: #ddffbc;
    min-height: 100px;
}
.second{
    min-width: 100%;
    min-height: 100vh;
}
.info{
    padding: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border: 2px solid #52734d;
    background-color: #feffde;
    text-align: center;
    min-width: 250px;
    color:#52734d;
}
.info h3{
    padding-top: 20px;
    font-size: 50px;
}
.info h4{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.info h3:hover{
    background-color: #feffde;
    font-size: 100%;
    transition: 2s;
}
.video{
    background-color: #5f8559;
    padding-left: 25%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.third{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-right: 25px;
    justify-content: space-around;
}

.boxes{
    padding-top: 10px;
    padding-bottom: 10px;
}
.small{
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border: 2px solid #91c788;
    background-color: #ddffbc;
    min-height: 70px;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
}
.small h3{
    padding-top: 50px;
}
.small p{
    text-align: center;
    padding: 30px;
}
.small:hover{
    background-color: #91c788;
    cursor: pointer;
}
.medium{
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border: 2px solid #91c788;
    background-color: #ddffbc;
    min-height: 70px;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
}
.medium h3{
    padding-top: 50px;
}
.medium p{
    text-align: center;
    padding: 30px;
}
.medium:hover{
    background-color: #91c788;
    cursor: pointer;
}
.large{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border: 2px solid #91c788;
    background-color: #ddffbc;
    min-height: 70px;
    text-align: center;
    min-width: 250px;
    font-size: 20px;
}
.large h3{
    padding-top: 50px;
}
.large p{
    text-align: center;
    padding: 30px;
}
.large:hover{
    background-color: #91c788;
    cursor: pointer;
}
.last{
    background-color: #ddffbc;
    min-height: 80px;
}
.contact{
    padding-top: 20px;
    text-align: center;
}
.links{
    text-align: center;
    padding-top: 20px;
}
.links img{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
.links img:hover{
    background-color:#91c788;
}
.copy{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
      
